####################################
# Maven
####################################
target/
dependency-reduced-pom.xml

####################################
# Allure (generated reports & results)
####################################
.allure/
allure-results/
allure-report/
target/allure-results/
target/site/allure-maven-plugin/

####################################
# Test Artifacts (runtime generated)
####################################
screenshots/
downloads/
videos/
traces/
tmp/

####################################
# Logs
####################################
*.log
logs/

####################################
# Environment & Secrets (DO NOT COMMIT)
####################################
.env
*.env
config-*.properties

####################################
# IDE - IntelliJ / VS Code / Eclipse
####################################
.idea/
.vscode/
*.iml

.classpath
.project
.settings/

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# Archives / Local files
####################################
*.rar
*.zip
